@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@layer base {
  html {
    font-family: "IBM Plex Mono";
    background-image: url(https://i.postimg.cc/y8b6Y8TC/440cef314f679adba15d7047c47c3661.jpg);
    background-size: cover;
    background-position: center;
  }
  .profile {
    padding: 4px;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Inner shadow for edge */
    border-radius: 10px;
    filter: none;
  }
  .background {
    backdrop-filter: blur(90px);
  }
  .name {
    font-weight: 500;
  }
}